<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>REST API</h1>
    <p>There is a list of all REST API URLs I have on this heroku/nodejs app.</p>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> GET URLs</h3>
      <ul>
        <li>https://serene-ravine-31000.herokuapp.com/ - Home</li>
        <li>https://serene-ravine-31000.herokuapp.com/motivation - GET Motivations</li>
        <li>https://serene-ravine-31000.herokuapp.com/motivation/:motivationID - GET Motivation by ID</li>
        <li>https://serene-ravine-31000.herokuapp.com/person - GET Persons</li>
        <li>https://serene-ravine-31000.herokuapp.com/person/:personID - Get Pesron by ID</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> POST URLs</h3>
      <ul>
        <li>https://serene-ravine-31000.herokuapp.com/person/ - POST person (email, name, age <b>*required</b>)</li>
        <li>https://serene-ravine-31000.herokuapp.com/motivation - POST motivation (personId, content <b>*required</b>)</li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please update this file with all new routes.
  </div>
</div>


</body>
</html>
